.link {
    text-decoration: none;
    color: #7af;
    margin: 10px;
}

.link:hover {
    color: #c9f;
}

.active {
    color: #5ff;
    margin: 10px;
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background: antiquewhite;
}

.header {
    display: flex;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}